<h1 class="page-header text-center">Log In</h1>

<%=bootstrap_form_tag url: '/login' do |f|%>
<%= f.text_field :name, placeholder: "Username" %>
<%= f.password_field :password, placeholder: "Password" %>
<%= f.submit "Log in", data: {disable_with: 'Logging in...'}, class: 'btn btn-success btn-block' %>

<%end%>
<hr>

<%= link_to "New User", new_user_path, class: "btn btn-success btn-block" %>
